{% extends 'ImageBundle::layout.html.twig' %}

{% block content %}
    <div class="row pagination"></div>
    <div id="album" class="row"></div>
    <div class="row pagination"></div>

    <script id="albumTemplate" type="text/template">
        <div class="col-md-3">
            <div class="thumbnail" data-href="<%- url %>" data-album-id="<%- id %>">
                <img class="album-item" src="<%- imageSrc %>" alt="" />
                <div class="caption">
                    <h4><a href="<%- url %>"><%- name %></a></h4>
                </div>
            </div>
        </div>
    </script>

    <script id="imageTemplate" type="text/template">
        <div class="col-md-3">
            <div class="thumbnail">

                <img class="album-item" src="{{ asset('uploads/') }}<%- file %>" alt="<%- title %>" />

                <div class="caption">
                    <h4><%- title %></h4>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

